/* CSS file for browsing */

/* container size */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

/* title styling */
.title{
    font-size: 32px;
    font-weight: bold;
}

/* text styling */
.text{
    font-size: 18px;
    color: gray;
}

/* grid styling */
.grid {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}